:host {
  ::ng-deep {
    .active {
     
      opacity: 1 !important;;
    }
  }
  .my-custom-menu {
    --width: 130px;
    --ion-background-color: var(--maincolor3);
  }
  .fitem {
    margin-top: 25px;
  }
  ion-item {
    margin-top: 13px;
  }
  ::ng-deep {
   .icon {
      font-size: 40px;
      margin-left: 23px;
      color: var(--maincolor1);
      opacity: 0.6;
    }
  }

  p {
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--maincolor1);
    margin-bottom: 5px;
    opacity: 0.6;
    font-weight: bold;
  }
}
