:host{
    span{
        font-weight: bold;
    
    }
    .bio{
        margin: 5px;
        padding: 15px;
    }
    .asd{
        overflow: hidden

    }
    .specimg{
        width: 150px;
        height: 130px;
    }

}