/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --maincolor1:#314461;
  --maincolor2:#009DAE;
  --maincolor3:#00ADB5;
  --primary:white;
  --secondery:black;
  --third:grey;
  

}
ion-title{
  color: var(--maincolor1);
}
ion-icon, ion-back-button{
  color: var(--maincolor1);
}
ion-toolbar{
  --background: var(--maincolor3) !important;
}
.profile-picture{
    margin-left: auto;
    margin-right: auto;
    min-width: 180px;
    min-height: 180px;
    border-radius: 60%;
    max-width: 180px;
    max-height: 180px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 10px;
  
}

.title {
  text-align: center;
  color:  var(--secondery);;
  width: 100%;
  font-size:x-large;
  font-family: Arial, Helvetica, sans-serif;

}
ion-card-title{
  text-align: center;
}
ion-slides{
    margin-bottom: 15px;
    ion-slide{
      margin-bottom: 30px;
    }
    ::ng-deep{
      .swiper-pagination-bullets{
        bottom:0px !important;
      }
    }
  }
