:host{
.teacher{
    margin-left: 20px;
    font-size: 20px;
}
.footer{
    margin-left: 110px;
    font-weight: bold;
}
.title{
    text-align: center;
    font-size: 20px;
}
.avatar{
    margin-left:5px;
}
}